<!-- ヘッダー -->
<%= render "header"%>
<!-- /ヘッダー -->

<!-- コンテンツ -->
<div class="container">
	<div class="row">
		<div class="item-container col-md-10  col-md-offset-1">
			<div class="item-info col-md-6">
				<h2 style="font-size:20px; text-align: left;"><%= @item.item_name %></h3>
				<%= image_tag @item.image_url %>
			</div>
			<div class="col-md-6">
				<h3 style="font-size:14pt; text-align:left;"><%= @item.comment1 %></h2>
				<p><%= @item.comment2 %></p>
				<p>サイズ: 直径15cm</p>
				<p>価格:<%= number_with_delimiter(@item.price) %></p>
				<form>
				<div><a href="javascript:void(document.form1.submit())" >
				<button class="btn btn-primary cart-btn"><i class="icon-shopping-cart icon-white"></i> カートに入れる</button></a>
			　 数量　<input type="text" size="2" value="1" >
				</div>
				</form>
				
				<div><a href="javascript:void(document.form1.submit())" >
                <button class="btn btn-primary cart-btn"><i class="icon-shopping-cart icon-white"></i> お気に入り登録</button></a>	</div>
				<div>
						<%= link_to image_tag("linebutton_88x20.png", :width => '100', :height => '20', :alt => "LINEで送る"),
											  "http://line.me/R/msg/text/?LINE%E3%81%A7%E9%80%81%E3%82%8B%0D%0Ahttp%3A%2F%2Fline.me%2F" %>
				</div>
			</div>
		</div>
		</div> 

	<div class="col-md-10">
		<!-- タブ -->		
		<ul class="nav nav-tabs">
		<% if @tab_mode.nil? %>
			<li class="active"><a href="#basic" data-toggle="tab">基本情報</a></li>
		<% else %>
			<li><a href="#basic" data-toggle="tab">基本情報</a></li>
		<% end %> 
		<% if @tab_mode == 'reputation' %>
			<li class="active"><a href="#reputation" data-toggle="tab">口コミ</a></li>
		<% else %>
			<li><a href="#reputation" data-toggle="tab">口コミ</a></li>
		<% end %> 
		<% if @tab_mode == 'map' %>
			<li class="active"><a href="#map" data-toggle="tab">地図</a></li>
		<% else %>
			<li><a href="#map" data-toggle="tab">地図</a></li>
		<% end %> 
		</ul>
		<!-- /タブ -->		
		
		<div class="tab-content">
			<!-- 基本情報 -->	
			<% if @tab_mode.nil? %>
		  	<div class="tab-pane active" id="basic">
			<% else %>
		  	<div class="tab-pane" id="basic">
			<% end %> 
			  	<p>〒<%= @item.shop.zip_cd %><br>
			  	<%= @item.shop.address %></p>
			  	<p>Tel:<%= @item.shop.phone %></p>
			  	<p>店舗情報：<%= @item.shop.shop_info %></p>
			  	<p>営業時間：<%= @item.shop.start_time %>～<%= @item.shop.end_time %>（<%= @item.shop.time_info %>）</p>
			  	<p>定休日：<%= @item.memo1 %></p>
			  	<p>オプション種別:<%= @item.shop.memo2 %></p>
			  	<p>注意事項</p>
			  	<p>備考</p>
			</div>
			<!-- /基本情報 -->		
	  
	  
			<!-- 口コミ評価 -->		
			<% if @tab_mode == 'reputation' %>
			<div class="tab-pane active" id="reputation">
			<% else %>
			<div class="tab-pane" id="reputation">
			<% end %> 
	  		<label>クチコミする</label>  
	  		
			<%= form_for(@reputation, :url =>{:action => "create"}, :method => "POST") do |f| %>
			  <table>
			  	<tr>
			  		<td>
				  	<% (1..5).each do |cnt| %>
				  		<% if cnt == @item.rank %>
				  		 <input name="rank" type="radio" class="star" value="<%= cnt %>" checked="checked">
				  		<% else %>
				  		 <input name="rank" type="radio" class="star" value="<%= cnt %>"> 
				  		<%end%>
				  	<%end%>
			  		</td>
			  		<td>
			  			<%= f.text_field :reputation, :placeholder => "コメント" %>
			  			<%= f.hidden_field :shop_id %>
			  			<%= f.hidden_field :item_id %>
			  			<%= hidden_field_tag :tab_mode, 'reputation'  %>
			  			<%= f.submit "送信"%>
			  			<p id="notice"><%= notice %></p>
			  		</td>
			  	</tr>
			  </table>
			<% end %>
		  
		  <table class="table table-striped table-bordered table-condensed">
		  	<tr><th>名前</th><th>評価</th><th>コメント</th></tr>
		  	<% @item.reputations.each do |reputation| %>
		  	<tr>
		  		<td><%= reputation.user.last_name %> <%= reputation.user.first_name %></td>
		  		<td>
			  	<% (1..5).each do |cnt| %>
			  		<% if cnt == reputation.rank %>
			  		 <input name="star<%= reputation.id %>" type="radio" class="star" disabled="disabled" checked="checked">
			  		<% else %>
			  		 <input name="star<%= reputation.id %>" type="radio" class="star" disabled="disabled"> 
			  		<%end%>
			  	<%end%>
				</td>
				<td><%= reputation.reputation %></td>
			</tr>
			<%end%>		  	
		  </table>
	  	</div>
		<!-- /口コミ評価 -->
		
		<!-- 地図 -->		
			<% if @tab_mode == 'map' %>
			<div class="tab-pane active" id="map">
			<% else %>
			<div class="tab-pane" id="map">
			<% end %>
				Google MAP
			</div>
		<!-- 地図 -->		
			</div>
	</div>
</div>

<script>
	jQuery(function() {
		$('.tabs a:last').tab('show')
	})
</script>
<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag "bootswatch" %>
<%= javascript_include_tag "holder" %>
<!-- フッター -->
<%= render "footer"%>
<!-- /フッター -->

