<!-- ヘッダー -->
<%= render "header"%>
<!-- /ヘッダー -->

<!-- コンテンツ -->
<div class="container">
	<div class="row">
		<!-- /左メニュー -->
		<%= render "menu"%>
		<!-- /左メニュー -->

		<!-- 検索フォーム -->
		<div class="page-content col-lg-9" >
			<form class="well form-search">
				<input type="text" class="input-medium search-query">
				<button type="submit" class="btn">
					検 索
				</button>
				<br>
				<select name="cake_category" style="border-right:1px blacl solid;">
					<option selected="selected">ケーキの種類</option>
					<option>ショートケーキ</option>
					<option>チョコレートケーキ</option>
					<option>チーズケーキ</option>
					<option>タルト</option>
					<option>モンブラン</option>
					<option>オリジナル</option>
				</select>
				<select name="target_age" style="border-right:1px blacl solid;">
					<option selected="selected">対象年齢層</option>
					<option>~12さい</option>
					<option>13~20</option>
					<option>20~30</option>
					<option>30~40</option>
					<option>40~</option>
				</select>
				<select name="target_age" style="border-right:1px blacl solid;">
					<option selected="selected">対象性別</option>
					<option>男</option>
					<option>女</option>
					<option>性別不詳</option>
				</select>
			</form>
		</div>
		<!-- /検索フォーム -->

		<!-- ケーキリスト -->
		<div class="page-content col-lg-9" >
			<!-- おすすめ -->
			<div class="row" style="text-align:left;">
				<h2 style="font-size:12pt; text-align:left; padding-left:18px;">おすすめ</h2>
				<% @recommended_items.each do |item|%>
				<div class="thumbnails" >
					<div class="col-lg-3 col-md-3" >
						<%= link_to image_tag(item.image_url, :width => '200', :height => '125'), 
											  {:controller => "items", :action => "show", :id => item.item_id} %>
					</div>
				</div>
				<% end %>
			</div>
			<!-- /おすすめ -->
			<hr>
			<!-- ランキング -->
			<div class="row">
				<h2 style="font-size:12pt; text-align:left; padding-left:18px;">ランキング　 </h2>
				<% @ranking_items.each do |item|%>
				<div class="thumbnails" >
					<div class="col-lg-3 col-md-3" >
						<%= link_to image_tag(item.image_url, :width => '200', :height => '125'), 
											  {:controller => "items", :action => "show", :id => item.item_id} %>
					</div>
				</div>
				<% end %>
			</div>
			<!-- /ランキング -->
			<hr>
			<!-- 近くのお店 -->
			<div class="row">
				<h2 style="font-size:12pt; text-align:left; padding-left:18px;">近くのお店</h2>
				<% @near_by_items.each do |item|%>
				<div class="thumbnails" >
					<div class="col-lg-3 col-md-3" >
						<%= link_to image_tag(item.image_url, :width => '200', :height => '125'), 
											  {:controller => "items", :action => "show", :id => item.item_id} %>
					</div>
				</div>
				<% end %>
			</div>
			<!-- /近くのお店 -->
			<hr>
		</div>
		<!-- //ケーキリスト -->
	</div>
</div>
<!-- /コンテンツ -->

<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			animationLoop : false,
			itemWidth : 210,
			itemMargin : 5
		});
	}); 
</script>

<%= javascript_include_tag "bootswatch" %>
<%= javascript_include_tag "holder" %>
<!-- フッター -->
<%= render "footer"%>
<!-- /フッター -->
