<!-- ヘッダー -->
<%= render "header"%>
<!-- /ヘッダー -->

<!-- コンテンツ -->
<div class="container">
	<div class="row">
		<!-- /左メニュー -->
		<%= render "menu"%>
		<!-- /左メニュー -->

		<!-- 検索フォーム -->
		<div class="page-content col-lg-9" >
			<%= form_tag({:action => "main"}, {:class => "well form-search"}) do %>
				<input type="text" name="item_name" class="input-medium search-query">
				<button type="submit" class="btn">
					検 索
				</button>
				<br>
				<%= select_tag :category_id,
							   content_tag(:option,'ケーキの種類',:value=>"")+
							   options_from_collection_for_select(@categories, :id, :category_name, @keywords.category_id),
							   :style => "border-right:1px blacl solid;"%>

				<%= select_tag :target_age_id,
							   content_tag(:option,'対象年齢層',:value=>"")+
							   options_from_collection_for_select(@target_ages, :id, :target_age_range, @keywords.target_age_id),
							   :style => "border-right:1px blacl solid;" %>
				
				<%= select_tag :target_gender_id,
							   content_tag(:option,'対象性別',:value=>"")+
							   options_from_collection_for_select(@target_genders, :id, :gender, @keywords.target_gender_id),
							   :style => "border-right:1px blacl solid;" %>
			<% end %>
		</div>
		<!-- /検索フォーム -->

		<!-- ケーキリスト -->
		<div class="page-content col-lg-9" >
			<!-- おすすめ -->
			<div class="row" style="text-align:left;">
				<h2 style="font-size:12pt; text-align:left; padding-left:18px;">おすすめ</h2>
				<% @recommended_items.each do |item|%>
				<div class="thumbnails" >
					<div class="col-lg-3 col-md-3" >
						<%= link_to image_tag(item.image_url, :width => '200', :height => '125'), 
											  {:controller => "items", :action => "show", :id => item.item_id} %>
					</div>
				</div>
				<% end %>
			</div>
			<!-- /おすすめ -->
			<hr>
			<!-- ランキング -->
			<div class="row">
				<h2 style="font-size:12pt; text-align:left; padding-left:18px;">ランキング　 </h2>
				<% @ranking_items.each do |item|%>
				<div class="thumbnails" >
					<div class="col-lg-3 col-md-3" >
						<%= link_to image_tag(item.image_url, :width => '200', :height => '125'), 
											  {:controller => "items", :action => "show", :id => item.item_id} %>
					</div>
				</div>
				<% end %>
			</div>
			<!-- /ランキング -->
			<hr>
			<!-- 近くのお店 -->
			<div class="row">
				<h2 style="font-size:12pt; text-align:left; padding-left:18px;">近くのお店</h2>
				<% @near_by_items.each do |item|%>
				<div class="thumbnails" >
					<div class="col-lg-3 col-md-3" >
						<%= link_to image_tag(item.image_url, :width => '200', :height => '125'), 
											  {:controller => "items", :action => "show", :id => item.item_id} %>
					</div>
				</div>
				<% end %>
			</div>
			<!-- /近くのお店 -->
			<hr>
		</div>
		<!-- //ケーキリスト -->
	</div>
</div>
<!-- /コンテンツ -->

<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			animationLoop : false,
			itemWidth : 210,
			itemMargin : 5
		});
	}); 
</script>

<%= javascript_include_tag "bootswatch" %>
<%= javascript_include_tag "holder" %>
<!-- フッター -->
<%= render "footer"%>
<!-- /フッター -->
