<!-- ヘッダー -->
<%= render "header"%>
<!-- /ヘッダー -->

<!-- コンテンツ -->
<div class="container">
	<div class="row">
		<!-- /左メニュー -->
		<%= render "menu"%>
		<!-- /左メニュー -->

		<!-- 検索フォーム -->
		<div class="page-content col-lg-9" >
			<%= form_tag({:action => "main"}, {:class => "well form-search"}) do %>
				<input type="text" name="item_name" class="input-medium search-query">
				<button type="submit" class="btn">
					検 索
				</button>
				<br>
				<select name="category_id" style="border-right:1px blacl solid;">
					<option selected="selected" value="">ケーキの種類</option>
					<option value="1">ショートケーキ</option>
					<option value="2">チョコレートケーキ</option>
					<option value="3">チーズケーキ</option>
					<option value="4">タルト</option>
					<option value="5">モンブラン</option>
					<option value="6">オリジナル</option>
				</select>
				<select name="target_age_id" style="border-right:1px blacl solid;">
					<option selected="selected" value="">対象年齢層</option>
					<option value="1">~12さい</option>
					<option value="2">13~20</option>
					<option value="3">20~30</option>
					<option value="4">30~40</option>
					<option value="5">40~</option>
				</select>
				<select name="target_gender_id" style="border-right:1px blacl solid;">
					<option selected="selected" value="">対象性別</option>
					<option value="1">男</option>
					<option value="2">女</option>
					<option value="3">性別不詳</option>
				</select>
			<% end %>
		</div>
		<!-- /検索フォーム -->

		<!-- ケーキリスト -->
		<div class="page-content col-lg-9" >
			<!-- おすすめ -->
			<div class="row" style="text-align:left;">
				<h2 style="font-size:12pt; text-align:left; padding-left:18px;">おすすめ</h2>
				<% @recommended_items.each do |item|%>
				<div class="thumbnails" >
					<div class="col-lg-3 col-md-3" >
						<%= link_to image_tag(item.image_url, :width => '200', :height => '125'), 
											  {:controller => "items", :action => "show", :id => item.item_id} %>
					</div>
				</div>
				<% end %>
			</div>
			<!-- /おすすめ -->
			<hr>
			<!-- ランキング -->
			<div class="row">
				<h2 style="font-size:12pt; text-align:left; padding-left:18px;">ランキング　 </h2>
				<% @ranking_items.each do |item|%>
				<div class="thumbnails" >
					<div class="col-lg-3 col-md-3" >
						<%= link_to image_tag(item.image_url, :width => '200', :height => '125'), 
											  {:controller => "items", :action => "show", :id => item.item_id} %>
					</div>
				</div>
				<% end %>
			</div>
			<!-- /ランキング -->
			<hr>
			<!-- 近くのお店 -->
			<div class="row">
				<h2 style="font-size:12pt; text-align:left; padding-left:18px;">近くのお店</h2>
				<% @near_by_items.each do |item|%>
				<div class="thumbnails" >
					<div class="col-lg-3 col-md-3" >
						<%= link_to image_tag(item.image_url, :width => '200', :height => '125'), 
											  {:controller => "items", :action => "show", :id => item.item_id} %>
					</div>
				</div>
				<% end %>
			</div>
			<!-- /近くのお店 -->
			<hr>
		</div>
		<!-- //ケーキリスト -->
	</div>
</div>
<!-- /コンテンツ -->

<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			animationLoop : false,
			itemWidth : 210,
			itemMargin : 5
		});
	}); 
</script>

<%= javascript_include_tag "bootswatch" %>
<%= javascript_include_tag "holder" %>
<!-- フッター -->
<%= render "footer"%>
<!-- /フッター -->
