<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cakes for Co-Workers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--StyleSheet-->
	<%= stylesheet_link_tag "bootstrap" %>    
	<%= stylesheet_link_tag "bootswatch.min" %>    
	<%= stylesheet_link_tag "style" %>    
	<%= stylesheet_link_tag "bootstrap-social" %>    
	<%= stylesheet_link_tag "docs" %>    
	<%= stylesheet_link_tag "font-awesome" %>  
	<%= stylesheet_link_tag "flexslider" %>
	<%= stylesheet_link_tag "jquery.rating" %>
	
    <!--JavaScript--> 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="./bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "bootswatch" %>
	<%= javascript_include_tag "docs" %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jquery.easing.1.3" %>
	<%= javascript_include_tag "flowslider.jquery" %>
	<%= javascript_include_tag "bsa" %>
	<%= javascript_include_tag "MetaData" %>
	<%= javascript_include_tag "jquery.rating" %>
	
    <script>
        jQuery(document).ready(function($) {
            $("#slider").FlowSlider();
        });
    </script>

    <script>
     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
  	<%= csrf_meta_tags %>    
  </head>
  <body>
<!--Contents -->
<%= yield %>
<!--//Contents -->
 
  </body>
</html>